<ion-modal-view>
	<ion-header-bar>
	  <h1 class="title">{{myTitle}}</h1>
	  <div class="button button-clear" ng-click="modal.hide()">
	  	<span class="icon ion-close"></span>
	  </div>
	</ion-header-bar>
	<ion-content>
	  <div class="list">
	    <a class="item item-avatar" ng-repeat="x in customerorder">
	      <img src="{{x.productImg}}" alt="">
	      <h2>{{x.productname}}</h2>
	      <h2>Total: {{x.productprice}}</h2>
	    </a>
	</div>
	</ion-content>
	<ion-footer-bar class="bar-assertive" ng-click="acceptDeliver(customerorder[0].purchaseDate)">
  		<h2 style="text-align:center">Accept Delivery</h2>
	</ion-footer-bar>
</ion-modal-view>