<ion-view view-title="Products">
  <ion-content>
    <ion-list>
      <div class="item item-divider">
        Product Categories
      </div>
      <a class="item item-thumbnail-left" ng-href="#/tab/list/product/bottle">
        <img src="img/category/iconbottle.png">
        <h2>Bottle</h2>
        <p>Description</p>
      </a>
      <a class="item item-thumbnail-left" ng-href="#/tab/list/product/can">
        <img src="img/category/iconcan.png">
        <h2>Can</h2>
        <p>Description</p>
      </a>
      <a class="item item-thumbnail-left" ng-href="#/tab/list/product/candy">
        <img src="img/category/iconcandy.png">
        <h2>Candy</h2>
        <p>Description</p>
      </a>
      <a class="item item-thumbnail-left" ng-href="#/tab/list/product/milk">
        <img src="img/category/iconmilk.png">
        <h2>Milk</h2>
        <p>Description</p>
      </a>
      <a class="item item-thumbnail-left" ng-href="#/tab/list/product/snack">
        <img src="img/category/iconsnack.png">
        <h2>Snack</h2>
        <p>Description</p>
      </a>
      <a class="item item-thumbnail-left" ng-href="#/tab/list/product/tissue">
        <img src="img/category/icontissue.png">
        <h2>Tissue</h2>
        <p>Description</p>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
